#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #e0f7fa; /* Optional background color */
  padding: 10px; /* Prevent the content from touching the edges */
  box-sizing: border-box; /* Ensures padding is considered within height/width */
}

